.sidebar{
  height: 100%;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*background-color: rgb(3, 117, 50);*/
  padding: 10px;
  transition: 0.4s ease-in;
 /* From https://css.glass */
  background: rgba(255, 255, 255, 0.29);
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 1);

  
}

.menu_icon__Container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  transition: 0.4s ease-in;
  
}

.menu_icon__icon{
  user-select: none;
  transition: 0.4s ease-in;
}
.menu_icon__icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.menu_icon__Container{
  align-items: center;
}

#projectTitle{
  font-size: 1.4rem;
  margin-right: 20px;
  font-weight: 600;
}
/*
@media only screen and (max-width: 900px){
  .sidebar{
    display: none;
  }
}
*/
@media only screen and (min-width: 600px){
  
  
}


