@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,400&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgba(219, 219, 223, 0.89);
    
}

body > #root{
  height: 100%;
}

.background_blur{
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.55);
 
}

.baseChart{
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.pageTitle{
  font-size: 1.5rem;
  font-weight: 600; 
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #0876dd;
  color: #FFFFFF;
}

#markdownText{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px;
  padding: 16px;
  text-align: justify;
  
}

.textParagraphM{
  font-size: 1.2rem;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}
td{
  padding: 10px;
}



